<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a class="navbar-link" href="{{ site.baseurl }}index">Home</a>
      </li>
      <li class="navbar-item-right">
        <a class="navbar-link" href="{{ site.baseurl }}projects">Projects</a>
      </li>
      <li class="navbar-item-right">
        <a class="navbar-link" href="{{ site.baseurl }}blog">Blog</a>
      </li>
      <li class="navbar-item-right">
        <a class="navbar-link" href="/mytheme/resume">Resume</a>
      </li>
    </ul>
  </div>
</nav>
