



<i class="fa fa-heart"></i> 
<i class="fa fa-heart-o"></i>


<h4 class="color" style="color:#0FA0CE;">Skills</h4>
  <article>
    <header>
        <h5>Coding</h5>
        <span>University of Glasgow</span>
        <span>Glasgow, UK 2011 to 2012</span>
    </header>
    <p class="color">
        <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
    </p>
  </article>
  <article>
    <header>
        <h5>Product Design</h5>
        <span>University of College London</span>
        <span>London, UK 2007 to 2011</span>
    </header>
    <p>
        <i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i><em>SolidWorks</em>
    </p>
  </article>
