<h4 class="color" style="color:#0FA0CE;">Skills</h4>
  <article>
    <header>
        <h5>Coding</h5>
    </header>
    <p>
        <i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart-o"></i><em>PHP, CSS & HTML</em>
    </p>
  </article>
  <article>
    <header>
        <h5>Product Design</h5>
    </header>
    <p>
        <i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i><em>SolidWorks</em>
    </p>
  </article>
